[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
whitenoise = "*"
django-webpack-loader = "*"
south = "*"

[dev-packages]

[requires]
python_version = "3.6"
